.main{
    flex: 1;
    min-height: 100vh;
    padding-bottom: 100px;
    position: relative;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
    padding: 20px;
    color: #585855;
}
.nav p{
    font-size: 40px;
    font-weight: 600;
    background : linear-gradient(270deg, #DF8908 10%, #B415FF 100%);
    background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;

}
.nav img{
    width: 40px;
    border-radius: 50%;
}

.main-container{
    max-width: 900px;
    margin: auto;
}

.greet{
    /* flex: 1;
    justify-content: center;
    align-items: center; */
    margin: 150px 0px;
    font-size: 66px;
    background: -webkit-linear-gradient(16deg, #d2ff4b, #f90633);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 500;
    padding: 20px;
    
}

.greet span{
    background: -webkit-linear-gradient(16deg, #4b90ff, #ff5546);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* .cards{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 15px;
    padding: 20px;
    margin-bottom: 40px;
}

.card{
    height: 200px;
    padding: 30px;
    background-color: #f0f4f9;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}

.card img{
    width: 35px;
    padding: 5px;
    position: absolute;
    background-color: white;
    border-radius: 20px;
    bottom: 10px;
    right: 10px;
}

.card p{
  color: #585858;
  font-size: 18px;
}

.card:hover{
    background-color: #dfe4ea;
} */

.main-bottom{
    position: absolute;
    bottom: 0;
    width: 100%;
    max-width: 900px;
    padding: 0px 20px;
    margin:auto;
}

.search-box{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: #eaeef0;
    padding: 10px 20px;
    border-radius: 50px;
}

.search-box img{
    width: 24px;
    cursor: pointer;
}

.search-box input{
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    padding: 8px;
    font-size: 18px;
}

.search-box div{
    display: flex;
    align-items: center;
    gap: 15px;
}

.bottom-info{
    font-size: 16px;
    margin: 15px auto;
    text-align: center;
    font-weight: 300;
     background: -webkit-linear-gradient(170deg, #ecb307, #ff46e3);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.bottom-info span{
    background: -webkit-linear-gradient(170deg, #ff4bc9, #4649ff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.result{
    padding: 0px 5%;
    max-height: 70vh;
    overflow: scroll;
}

.result::-webkit-scrollbar{
    display: none;
}

.result-title{
    margin: 40px 0px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.result img{
    width: 40px;
    border-radius: 50%;
}

.result-data{
    display: flex;
    align-items: start;
    gap: 20px;
}

.loader{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.loader hr{
    border-radius: 4px;
    border: none;
    background-color: #f6f7f8;
    background: linear-gradient(to right, #9ed7ff, #ffffff, #9ed7ff);
    background-size: 800px 50px;
    height: 20px;
    animation: loader 3s infinite linear;
}

@keyframes loader{
    0%{
        background-position: -800px 0px;
    }
    100%{
        background-color: 800px 0px;
    }
}

.result-data{
    font-size: 17px;
    font-weight: 300;
    line-height: 1.8;
}

@media(max-width: 600px){
    .cards{
        display: none;
    }
    .main-bottom input{
        /* flex: none; */
        width: 150px;
    }
    .main-bottom img{
        width: 20px;
    }
    .search-box{
        padding: 4px 8px;
    }
    .search-box div{
        gap: 2px;
    }
    .greet{
        font-size: 60px;
    }
}

